<!DOCTYPE html>
<html>
<head>
<title>Quản lí sinh viên đa nền tảng</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="/bundles/public/css/landing.css?v=7">
<link rel="shortcut icon" href="/bundles/public/images/logo.png">
<!-- Facebook Pixel Code -->
<script>
	!function(f, b, e, v, n, t, s) {
		if (f.fbq)
			return;
		n = f.fbq = function() {
			n.callMethod ? n.callMethod.apply(n, arguments) : n.queue
					.push(arguments)
		};
		if (!f._fbq)
			f._fbq = n;
		n.push = n;
		n.loaded = !0;
		n.version = '2.0';
		n.queue = [];
		t = b.createElement(e);
		t.async = !0;
		t.src = v;
		s = b.getElementsByTagName(e)[0];
		s.parentNode.insertBefore(t, s)
	}(window, document, 'script',
			'https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '502843843715660');
	fbq('track', 'PageView');
</script>
</head>
<body
	style="background-image: url('images/background.jpg'); background-size: 100%; background-repeat: no-repeat">

	<div class="container-fluid">
		<div class="row row1">
			<!--div class="col-sm-1"></div><-->
			<div class="col-sm-2 logo" style="margin: 25px 50px 0px 0px">
				<a href="https://caodang.fpt.edu.vn"><img class="img-fluid"
					src="https://static.ybox.vn/2020/2/0/1582473564897-Poly.png" alt="logo"></a>
			</div>

			<!--<div class="col-sm-10"></div>-->
			<div class="col-sm-2 logo" style="margin-left: auto">
				<a href="https://caodang.fpt.edu.vn"><img class="img-fluid"
					src="images/logo_2.png" alt="logo"></a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4 down-game">
				<a id="download" href="https://drive.google.com/uc?export=download&id=1xVluvdFqgouaVYlZaimTrUbTpBNx65YQ"><img class="img-fluid"
					src="images/download.gif" alt=""></a>
			</div>
			<div class="col-sm-4"></div>
		</div>
		<div class="row event" style="margin-left: 5%">
			<div class="col-sm-1 event1" style="margin-right: auto">
				<a href="javascript:;"> <img
					style="max-width: 150%; height: auto" src="images/tho.png" alt="">
				</a>
			</div>
			<div class="col-sm-1 event2" style="margin-right: auto">
				<a href="javascript:;"> <img
					style="max-width: 150%; height: auto" src="images/Linh_final.png" alt="">
				</a>
			</div>
			<div class="col-sm-1 event3" style="margin-right: auto">
				<a href="javascript:;"> <img
					style="max-width: 150%; height: auto" src="images/sang.png" alt="">
				</a>
			</div>
			<div class="col-sm-4 slogan" style="margin-left: 3%">
				<a href="javascript:;"> <img class="img-fluid"
					src="images/slogan_1.png" alt="">
				</a>
			</div>
			<div class="col-sm-1 event4" style="margin-left: auto">
				<a href="javascript:;"> <img
					style="max-width: 150%; height: auto" src="images/Thanh_final.png" alt="">
				</a>
			</div>
			<div class="col-sm-1 event5" style="margin-left: auto">
				<a href="javascript:;"> <img
					style="max-width: 150%; height: auto" src="images/tai.png" alt="">
				</a>
			</div>
			<div class="col-sm-1 event6" style="margin-left: auto">
				<a href="javascript:;"> <img
					style="max-width: 150%; height: auto" src="images/tien.png" alt="">
				</a>
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
	<script>
		$("#download").click(function() {
			fbq('track', 'Lead', {
				currency : "USD",
				value : 1.00
			});
		})
	</script>
</body>
</html>